*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.main{
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.profile{
    background-color:  hsl(0, 0%, 12%);
    height: fit-content;
    position: relative;
    top:15%;
    color: white;
    padding: 1.2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

img{
    width: 100px;
    border-radius: 50%;
    padding: 6%;
}

.box{
    background-color: hsl(0, 0%, 20%);
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    text-align: center;
}

.box-link{
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
}

.address{
    color: hsl(75, 94%, 57%);
}

.tag{
    font-size: 14px;
    margin:25px 0;
}

h1{
    padding: 3px;
    font-size: 30px;
}